* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
#buscar {
  display: flex;
  padding-left: 50px;
  padding-top: 15px;
  margin-bottom: 70px;
}
.src {
  margin-right: 15px;
}
.tit {
  margin-top: 10px;
  font-size: 18px;
}
#combobox {
  margin-top: 1px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  font-size: 18px;
}
#combobox:hover {
  border: 1px solid #000000;
  box-shadow: 0 0 5px #0000005f;
  cursor: pointer;
}
#combobox:focus {
  border: 1px solid #000000;
  box-shadow: 0 0 5px #00000050;
  cursor: pointer;
}
.opt:hover {
  cursor: pointer;
}

#btn-src {
  height: 50px;
  width: 105px;
  background-color: #0085fc;
  color: white;
  border-style: none;
  border-radius: 2px;
  box-shadow: 0 0 1rem #00000039;
  cursor: pointer;
}
#btn-src:active {
  cursor: pointer;
  opacity: 90%;
  transform: scale(1.02);
  box-shadow: 0 0 1rem #0d477958;
}
#galeria {
  display: flex;
  flex-wrap: wrap;
  /*padding-left: 20px;
    padding-right: 20px;*/
}
.product {
  border: 1px solid #00000026;
  margin: 15px;
  width: 30%;
  height: 490px;
  box-shadow: 0 0 1rem rgba(48, 45, 45, 0.165);
  border-radius: 5px;
  position: relative;
}
.info {
  margin: 5px 15px 5px 15px;
}
.info-title {
  margin: 0;
  width: 100%;
  height: 48px;
  overflow: hidden;
  font-size: 25px;
}
.titlee {
  margin: 0;
}
.info-des {
  margin-bottom: 10px;
  width: 100%;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.descripcion {
  margin: 0;
}
.btn-srv {
  height: 30px;
  width: 80px;
  background-color: #2e9dff;
  color: white;
  border-style: none;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 0 1rem #00000039;
}
.btn-srv:active {
  opacity: 80%;
  transform: scale(1.03);
  box-shadow: 5px 5px 2rem #1a619f;
}
.img {
  width: 100%;
  height: 350px;
  border-bottom: 1px solid #00000028;
  border-radius: 5px;
}
img {
  width: 100%;
  height: 350px;
  border-radius: 5px 5px 0px 0px;
  object-fit: fill;
  filter: brightness(90%);
  opacity: 90%;
}
img:hover {
  filter: brightness(100%);
  opacity: 100%;
}
@media (max-width: 600px) {
  #buscar {
    display: block;
  }
  .tit {
    margin: 5px;
  }
  #combobox {
    margin-bottom: 5px;
  }
  #galeria {
    display: block;
  }
  .product {
    width: 90%;
    height: 530px;
  }
  .btn-srv {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    font-weight: 600;
  }
}
